* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-content {
  margin: 16px !important;
  overflow: hidden !important;
}

.site-layout-background {
  padding: 24px 24px 0 24px !important;
  width: 100% !important;
  height: auto !important;
}

@media only screen and (max-width: 560px) {
  .ant-layout-content {
    margin: 5px !important;
  }

  .site-layout-background {
    padding: 5px !important;
  }
}

.userWrapper {
  width: 600px;
}

@media only screen and (max-width: 880px) {
  * {
    font-size: 14px;
  }

  .userWrapper {
    width: 100%;
  }
}


.BreadCumbWrapper {
  top: 45px;
}

@media only screen and (max-width: 560px) {
  .BreadCumbWrapper {
    top: 15px;
  }

}




.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-form-item-label {
  width: 20% !important;
}

.ant-form-item-control {
  width: 80% !important;
}


.ant-form-item,
.ant-form-item-row {
  width: 100%;
}

.ant-col.ant-col-14.ant-form-item-control {
  max-width: 75% !important;
}

.ant-btn {
  line-height: 0 !important;
}

.site-tag-plus {
  background: #fff;
  border-style: dashed;
}

.edit-tag {
  user-select: none;
}

.tag-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}

.ant-tag-close-icon {
  position: relative;
  top: 2px;
}


.ant-tag.edit-tag {
  padding: 3px 10px;
}


.demo {
  margin: 16px;
}

.demo-nav {
  height: 30px;
  margin-bottom: 16px;
  line-height: 30px;
  background: #f8f8f8;
}

.demo-nav a {
  padding: 0 8px;
  line-height: 30px;
}

.app-list {
  margin-top: 16px;
}

.ant-table-cell {
  padding-top: 21px !important;
  padding-bottom: 21px !important;
}